.container {
  display: flex;
  justify-content: center;
}
.content {
  text-align: center;
}
.dropdown {
  margin-top: 16px;
  width: 100%;
}
.select {
  margin-top: 16px;
}

.passagesContainer {
  margin-top: 16px;
}
.passagesTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passagesContainer .passages {
  display: flex;
  justify-content: space-evenly;
}

.favoritesTitle {
  margin-top: 32px;
}
.favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}
.favorite {
  text-align: center;
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  padding: 6px;
  margin-top: 8px;
  position: relative;
}
.favorite button {
  margin: -6px;
  position: absolute;
  right: 6px;
}
.favorite:nth-child(2n) {
  margin-left: 4px;
}
.favorite:nth-child(2n+1) {
  margin-right: 4px;
}
.favorite img {
  height: 24px;
}
.favorite .stop {
  font-size: 1.1rem;
}
.favorite .direction {
  font-size: 0.8rem;
}
.favorite .direction i {
  vertical-align: bottom;
}
.favorite .passages {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  margin-top: 32px;
}
.footer::before {
  content: "";
  width: 70%;
  display: block;
  top: -12px;
  left: 15%;
  height: 1px;
  background-color: var(--surface-d);
  position: relative;
}
.footer a {
  text-decoration: underline;
}