.container {
  display: flex;
  justify-content: center;
}
.content {
  text-align: center;
}
.dropdown {
  margin-top: 16px;
  width: 100%;
}
.select {
  margin-top: 16px;
}

.passagesContainer {
  margin-top: 16px;
}
.passagesTitle {
  display: flex;
  justify-content: space-between;
}
.passages {
  display: flex;
  flex-direction: column;
  text-align: left;
}